// https://coolors.co/palette/eee7dc-a7a5bb-9896a4-362b39-110505

$black: #110505; //aubergine
$storm: #362B39; // dark violet
$smoke: #9896A4; // violet grey
$accent: #A7A5BB; //dusty violet
$lace: #EEE7DC; //antique lace
$white: #FFFFFF;


