// Color Variables
$primary-color: #9896A4; // violet grey
$text-color: #110505; //aubergine
$text-color-dark: #362B39; // dark violet
$text-color-light: #EEE7DC; //antique lace
$body-color: #fff;
$border-color: #9896A4; // violet grey
$black: #000;
$white: #fff;
$gray: #9896A4; // violet grey
$aubergine: #110505; //aubergine
$dkviolet: #362B39; // dark violet
$violetgrey: #9896A4; // violet grey
$dustyviolet: #A7A5BB; //dusty violet
$lace: #EEE7DC; //antique lace

// Font Variables
$primary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';