{{ define "main" }}

<!-- portfolio -->
<section class="section pb-0 fp-projects">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 mb-lg-0">
        <div class="row" data-masonry='{"percentPosition": true }'>
          {{ $paginator := .Paginate ( first 9 ( where .Site.RegularPages "Type" "calligraphy" )) }}
          {{ range $paginator.Pages }}
          <div class="col-md-4 mb-4">
            <article class="card">
              {{ if .Params.Image }}
              <a href="{{ .Permalink }}"><img src="{{ .Params.Image | absURL }}" class="card-img-top fp-card" alt="{{ .Title | markdownify }}"></a>
              {{ end }}
            </article>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->

{{ end }}