{{ define "main" }}
<!-- intro -->
<section class="fp-intro">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 mb-lg-0">
        <p>Hand-calligraphed invitations, envelopes, or escort cards are a simple and elegant detail 
          that makes your wedding uniquely yours, sets the tone for your wedding, and gives your 
          guest a hint of what they can expect when the big day arrives.</p>
        <!-- <h6>Hand-calligraphed invitations, envelopes, or escort cards are a simple and elegant detail 
          that makes your wedding uniquely yours, sets the tone for your wedding, and gives your 
          guest a hint of what they can expect when the big day arrives.</h6>  -->
        <h3>Calligraphy is a showstopper.</h3>
      </div>
    </div>
  </div>
</section>

<!-- portfolio -->
<section class="section pb-0 fp-projects">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 mb-lg-0">
        <div class="row" data-masonry='{"percentPosition": true }'>
          {{ $paginator := .Paginate ( first 9 ( where .Site.RegularPages "Type" "calligraphy" )) }}
          {{ range $paginator.Pages }}
          <div class="col-md-4 mb-4">
            <article class="card">
              {{ if .Params.Image }}
              <a href="{{ .Permalink }}"><img src="{{ .Params.Image | absURL }}" alt="{{ .Params.alt_text }}" class="card-img-top fp-card" alt="{{ .Title | markdownify }}"></a>
              {{ end }}
            </article>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->

{{ end }}